.adv{
    margin-bottom: 50px;
}

.main .product-filter{
    background: transparent;
}
.main .product-filter .display {
    list-style-type: none;
    margin-right: 10px;
    float: left;
    margin-left: -15px;
    margin-top: 15px;
}
.main .product-filter .display  li{
    float: left;
}
.main .product-filter .display li a{
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    font-size: 0;
    border:1px solid #ffffff;
}
.main .product-filter .display  li a i{
    color: #ff5400;
    font-size: 18px;
}
.main .product-filter .limit{
    padding: 15px;
    margin: 0;
    float: left;
}
.main .form-control {
    padding: 0;
    display: unset;
    width: auto;
}
.main .product-filter .sort{
    float: right;
    margin: 0;
    padding: 15px;
}
.product-block .product-item-box .product-item .image a img{
    max-width: 100%;
    height: auto;
}
.product-block .product-item-box{
    padding: 10px;
    background-color: #ffffff;
    position: relative;

}
.product-block .product-item-box .product-item{
    background-color: #ffffff;
    padding: 2px;
    transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    position: relative;
}
.product-block .product-item-box .product-item .image{
    overflow: hidden;
    position: relative;
}
.product-block .product-item-box .product-item .image a{
    color: #333333;
    text-transform: uppercase;
}
.image .promotion {
    display: block;
    text-align: center;
    line-height: 27px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #333333;
}
.product-block .product-item .right-block h2{
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}
.product-block .product-item .right-block h2.name a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
}
.product-block .product-item .right-block h2.name a:hover{
    color: #ff7633;
    text-decoration: none;
}
.product-block .product-item .right-block .discountpercent{
    float: left;
    color: #ff5400;
    font-size: 35px;
    line-height: 1.7em;
    margin-left: 10px;
    margin-right: 10px;
}
.product-block .product-item .right-block .price{
    float: left;
    margin-top: 15px;
    text-align: left;
    line-height: 1.1em;
}
.product-block .product-item .right-block .price .price-new{
    font-size: 24px;
    color: #70ba28;
    display: block;
}
.product-block .product-item .right-block .price .price-old{
    display: block;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: line-through;
    color: #aaaaaa;
}
.product-block .product-item .right-block .button-more{
    float: right;
}
.product-block .product-item .right-block .button-more a i{
    background-color: #70ba28;
    border-radius: 20px;
    color: #ffffff;
    height: 30px;
    width: 30px;
    line-height: 20px;
    margin-top: 20px;
    font-size: 22px;
    padding: 4px;
}
.product-block .product-item .right-block .button-more a i:hover{
    background-color: #ff5400;
}
.main h1.title{
    position: relative;
    z-index: 1;
    margin-bottom: 15px;

}
.main h1.title::before{
    content: "";
    position: absolute;
    border: 2px solid #333333;
    margin: 5px 0 auto 0;
    z-index: -1;
    top: 50%;left: 0;right: 0;bottom: 0;
    background: #333333 none repeat scroll 0 0;
    height: 2px;
    width: 100%;
}
.main h1 span{
    background: #fff;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    font-size: 25px;
    color: #70ba28;
}
.main .paginate-page {
    text-align: center;
    font-size: 14px !important;
}
.main .paginate-page ul li a{
    margin: 5px;
}
.main .paginate-page ul li span{
    margin: 5px;
}
.main .paginate-page ul li a {
    border: none;
    color: #333333;
}
.main .paginate-page ul li span {
    border: none;
}
.main .paginate-page ul li.active span {
    color: #ffffff;
    background-color: #70ba28;
    border-radius: 5px;
    cursor: default;
}
.main .paginate-page ul li.active span:hover {
    background-color: #337ab7;
}
.main .paginate-page ul li a:hover {
    color: #FFFFFF;
    background-color: #70ba28;
    border-radius: 5px;
}